.main {
    width: 400px;
    height: 450px;
    margin: 15% auto;
    border: 4px double black;
    text-align: center;
}

.input_div {
    width: 400px;
    margin: 0 auto;
}

.button_authorization {
    color: white;
    background: black;
    width: 170px;
    height: 30px;
    border-color: black;
    margin-top: 5px;
    cursor: pointer;
}

#submit_button_registration {
    color: white;
    background: black;
    width: 170px;
    height: 30px;
    border-color: black;
    cursor: pointer;
}

#error {
    color: red;
    display: none;
}

#success {
    color: green;
    display: none;
}