.main {
    width: 1200px;
    margin: 0 auto;
}

.title {
    text-align: center;
}

.text_label #show_change_email_section #show_change_password_section #email {
    display: inline-block
}

#login {
    display: inline-block;
    margin-bottom: 2px;
}

#change_email_section {
    display: none;
}

#change_password_section {
    display: none;
}

#error {
    color: red;
    display: none;
}

#success {
    color: green;
    display: none;
}